/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input,
a,
textarea {
  outline: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, svg {
  max-width: 100%;
}

h1, h2, h3 {
  font-weight: bold;
}

/* /reset */
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ArialMT.eot?") format("eot"), url("../fonts/ArialMT.woff2") format("woff2"), url("../fonts/ArialMT.woff") format("woff"), url("../fonts/ArialMT.ttf") format("truetype"), url('../fonts/ArialMT.svg#str-replace("Arial", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Arial-BoldMT.eot?") format("eot"), url("../fonts/Arial-BoldMT.woff2") format("woff2"), url("../fonts/Arial-BoldMT.woff") format("woff"), url("../fonts/Arial-BoldMT.ttf") format("truetype"), url('../fonts/Arial-BoldMT.svg#str-replace("Arial", " ", "_")') format("svg");
  font-display: swap;
}
/* settings */
a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

html {
  width: 100vw;
  height: 100vh;
  font-size: 0.0520833333vw;
}

body {
  width: 100%;
  height: 100%;
  min-width: 319px;
  font-family: "Arial", sans-serif;
  position: relative;
}

/* /settings */
/* slider */
.slider {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
.slider .swiper__slider {
  height: 100%;
}
.slider .swiper-wrapper {
  height: 100%;
}
.slider__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  background-color: #fff;
}
.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40%;
  height: 100%;
  padding-top: 40px;
  padding-left: 150rem;
}
.slider__media {
  width: 60%;
  height: 100%;
}
.slider__text {
  max-width: 600rem;
  font-size: 70rem;
  font-weight: bold;
  line-height: 1.45;
}
.slider__text p {
  display: none;
}
.slider__typed-cursor {
  color: #26ae01;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
.slider__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 20rem;
  overflow: hidden;
}
.slider__phone-wrap {
  width: 550rem;
  max-height: 100%;
  position: relative;
}
.slider__phone-wrap > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top center;
  object-position: top center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.slider__phone-wrap:after {
  content: "";
  display: block;
  padding-top: 170%;
}
.slider__phone-img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.slider__phone-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top center;
  object-position: top center;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.slider__phone-img img:not(:nth-child(1)) {
  opacity: 0;
}
.slider__phone-img img.show {
  opacity: 1;
}
.slider__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.slider__img img {
  width: 1200rem;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}
@media (max-width: 1200px) {
  .slider__text {
    font-size: 84rem;
  }
  .slider__phone-wrap {
    width: 620rem;
  }
}
@media (max-width: 768px) {
  .slider__text {
    font-size: 90rem;
  }
  .slider__phone-wrap {
    width: 760rem;
  }
}
@media (max-width: 480px) {
  .slider__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .slider__content {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: auto;
    height: 35%;
    padding-top: 0;
    padding-left: 0;
  }
  .slider__text {
    max-width: 960rem;
    padding-bottom: 20px;
    font-size: 140rem;
    text-align: center;
    line-height: 1.3;
  }
  .slider__media {
    width: 100%;
    height: 65%;
  }
  .slider__phone {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .slider__phone-wrap {
    width: 1150rem;
  }
  .slider:after {
    padding-top: 160%;
  }
  .slider__img {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .slider__img img {
    width: auto;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* /slider */
/* btn */
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 20px 5px 50px;
  min-width: 215px;
  height: 46px;
  background: -o-linear-gradient(160deg, #015306, #01A30B);
  background: linear-gradient(-70deg, #015306, #01A30B);
  border-radius: 100px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn:before {
  content: "";
  display: block;
  background: -o-linear-gradient(340deg, #015C07, #018B0A);
  background: linear-gradient(110deg, #015C07, #018B0A);
  border-radius: 100px;
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  z-index: 2;
}
.btn:after {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url("data:image/svg+xml,%3Csvg width='49.000000' height='49.000000' viewBox='0 0 49 49' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs%3E%3CclipPath id='clip2_186'%3E%3Crect id='_ (3)' width='49.000000' height='49.000000' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3ClinearGradient x1='11.999999' y1='-2.000003' x2='35.079487' y2='44.545494' id='paint_linear_2_187_0' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFFFFF'/%3E%3Cstop offset='1.000000' stop-color='%23B1B1B1'/%3E%3C/linearGradient%3E%3ClinearGradient x1='10.888538' y1='7.077861' x2='36.477448' y2='44.644501' id='paint_linear_2_188_0' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23A7A7A7'/%3E%3Cstop offset='1.000000' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg clip-path='url(%23clip2_186)'%3E%3Ccircle id='circle' cx='24.500000' cy='24.500000' r='24.500000' fill='url(%23paint_linear_2_187_0)' fill-opacity='1.000000'/%3E%3Ccircle id='circle' cx='24.455078' cy='24.461296' r='19.943199' fill='url(%23paint_linear_2_188_0)' fill-opacity='1.000000'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 3;
}
.btn span {
  position: relative;
  z-index: 4;
  white-space: nowrap;
}
.btn:hover {
  -webkit-box-shadow: 0 0 50px rgba(2, 225, 17, 0.5);
  box-shadow: 0 0 50px rgba(2, 225, 17, 0.5);
}
@media (max-width: 1400px) {
  .btn {
    width: 250px;
    height: 54px;
    font-size: 16px;
  }
  .btn::before {
    top: 7px;
    bottom: 7px;
    left: 7px;
    right: 7px;
  }
  .btn:after {
    width: 44px;
    height: 44px;
  }
}
@media (max-width: 1200px) {
  .btn {
    width: 370px;
    height: 80px;
    font-size: 26px;
  }
  .btn:before {
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }
  .btn:after {
    width: 60px;
    height: 60px;
    top: 10px;
    left: 10px;
  }
}
@media (max-width: 480px) {
  .btn {
    width: 240px;
    height: 54px;
    font-size: 16px;
    padding-left: 60px;
  }
  .btn:before {
    top: 6px;
    bottom: 6px;
    left: 6px;
    right: 6px;
  }
  .btn:after {
    width: 44px;
    height: 44px;
    top: 5px;
    left: 5px;
  }
}

/* /btn */
/* callback */
.callback__btn {
  padding-left: 60px;
  position: fixed;
  top: 33rem;
  left: 80rem;
  z-index: 5;
}
@media (max-width: 1400px) {
  .callback__btn {
    top: 60rem;
  }
}
@media (max-width: 1200px) {
  .callback__btn {
    padding-left: 80px;
    left: 30rem;
  }
}
@media (max-width: 480px) {
  .callback__btn {
    padding-left: 70px;
    top: 70rem;
    left: 70rem;
  }
}

/* /callback */
/* home-btn */
.home-btn {
  position: fixed;
  left: 80rem;
  bottom: 33rem;
}
.home-btn .btn {
  font-size: 24px;
}
@media (max-width: 1400px) {
  .home-btn {
    bottom: 60rem;
  }
}
@media (max-width: 1200px) {
  .home-btn {
    left: 30rem;
  }
  .home-btn .btn {
    font-size: 38px;
  }
}
@media (max-width: 480px) {
  .home-btn {
    left: 70rem;
    bottom: 70rem;
  }
  .home-btn .btn {
    font-size: 26px;
  }
}

/* /home-btn */
/* menu */
.menu__hamburger {
  width: 47px;
  height: 47px;
  border-radius: 100%;
  position: fixed;
  top: 33rem;
  right: 80rem;
  z-index: 5;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.menu__hamburger img {
  width: 100%;
  height: 100%;
}
.menu__hamburger:hover {
  -webkit-box-shadow: 0 0 50px rgba(2, 225, 17, 0.5);
  box-shadow: 0 0 50px rgba(2, 225, 17, 0.5);
}
@media (max-width: 1400px) {
  .menu__hamburger {
    width: 52px;
    height: 52px;
    top: 60rem;
    right: 45rem;
  }
}
@media (max-width: 1200px) {
  .menu__hamburger {
    width: 77px;
    height: 77px;
    right: 30rem;
  }
}
@media (max-width: 480px) {
  .menu__hamburger {
    width: 54px;
    height: 54px;
    right: 70rem;
    top: 70rem;
  }
}

/* /menu */
/* call */
.call__btn {
  width: 47px;
  height: 47px;
  border-radius: 100%;
  position: fixed;
  bottom: 33rem;
  right: 80rem;
  z-index: 5;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.call__btn img {
  width: 100%;
  height: 100%;
}
.call__btn:hover {
  -webkit-box-shadow: 0 0 50px rgba(2, 225, 17, 0.5);
  box-shadow: 0 0 50px rgba(2, 225, 17, 0.5);
}
@media (max-width: 1400px) {
  .call__btn {
    width: 52px;
    height: 52px;
    bottom: 60rem;
    right: 45rem;
  }
}
@media (max-width: 1200px) {
  .call__btn {
    width: 77px;
    height: 77px;
    right: 30rem;
  }
}
@media (max-width: 480px) {
  .call__btn {
    width: 54px;
    height: 54px;
    right: 70rem;
    bottom: 70rem;
  }
}

/* /call */