@import 'mixins/mixins';

@include reset(); // Сброс стилей

@import 'mixingrid/mixingrid'; // Подключение моей сетки

// Брэйкпоинты
$break_xl: 1400px;
$break_lg: 1200px;
$break_md: 1050px;
$break_sm: 768px;
$break_xs: 480px;

// Шрифты
@include font-face("Arial", "../fonts/ArialMT", normal, normal);
@include font-face("Arial", "../fonts/Arial-BoldMT", bold, normal);

// Подключение файлов
@import 'blocks/settings';
@import 'blocks/slider';
@import 'blocks/btn';
@import 'blocks/callback';
@import 'blocks/home-btn';
@import 'blocks/menu';
@import 'blocks/call';