doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="robots" content="noindex, nofollow")
    title Grasiona
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet", href="css/plugins/swiper-bundle.min.css")
  body 

    .menu 
      .menu__hamburger 
        img(src="img/hamburger.svg", alt="")

    .callback 
      button.btn.callback__btn 
        span Оставить заявку

    .slider 
      
      #swiper.swiper__slider
        .swiper-wrapper 
          .swiper-slide 
            section.slider__section
              .slider__content 
                .slider__text.slider__text--1 
                  p Купим вашу квартиру за 24 часа
                  span.slider__typed-cursor |
              .slider__media 
                .slider__phone 
                  .slider__phone-wrap
                    img(src="img/phone.png", alt="")
                    .slider__phone-img 
                      img(src="img/phone_img-1.png", alt="")
                      img(src="img/phone_img-2.png", alt="")
                      img(src="img/phone_img-3.png", alt="")
          .swiper-slide 
            section.slider__section
              .slider__content 
                .slider__text 
                  p Надо срочно продать квартиру?
                  span.slider__typed-cursor |
              .slider__media 
                .slider__img 
                  img(src="img/img-1.png", alt="")
          //- .swiper-slide 
          //-   section.slider__section

    .home-btn 
      a(href="https://grasiona.ru/").btn
        span ГРАСИОНА

    .call 
      .call__btn 
        img(src="img/call.svg", alt="")
      

    //- script(src="js/plugins/splitText.js") 
    //- script(src="js/plugins/Observer.min.js") 
    script(src="js/plugins/TextPlugin.min.js") 
    script(src="js/plugins/gsap.min.js") 
    script(src="js/plugins/swiper-bundle.min.js") 
    script(src="js/scripts.js")