/* callback */
.callback { 
  &__btn {
    padding-left: 60px;
    position: fixed;
    top: 33rem;
    left: 80rem;
    z-index: 5;
  }
  @media (max-width: $break_xl) {
    &__btn {
      top: 60rem;
    }
  }
  @media (max-width: $break_lg) {
    &__btn {
      padding-left: 80px;
      left: 30rem;
    }
  }
  @media (max-width: $break_xs) {
    &__btn {
      padding-left: 70px;
      top: 70rem;
      left: 70rem;
    }
  }
}
/* /callback */