/* call */
.call {
  &__btn {
    width: 47px;
    height: 47px;
    border-radius: 100%;
    position: fixed;
    bottom: 33rem;
    right: 80rem;
    z-index: 5;
    cursor: pointer;
    user-select: none;
    transition: .3s;

    img {
      width: 100%;
      height: 100%;
    }

    &:hover {
      box-shadow: 0 0 50px rgba(2, 225, 17, 0.5);
    }
  }
  @media (max-width: $break_xl) {
    &__btn {
      width: 52px;
      height: 52px;
      bottom: 60rem;
      right: 45rem;
    }
  }
  @media (max-width: $break_lg) {
    &__btn {
      width: 77px;
      height: 77px;
      right: 30rem;
    }
  }
  @media (max-width: $break_xs) {
    &__btn {
      width: 54px;
      height: 54px;
      right: 70rem;
      bottom: 70rem;
    }
  }
}

/* /call */